@font-face {
    font-family: 'tan-nimbus';
    src: url(fonts/TAN-NIMBUS.woff) format(woff);
    src: url(fonts/TAN-NIMBUS.ttf) format(truetype);
        
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    }
